/* estilos.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../images/pollo.jpg');
    background-size: cover;
    background-position: 70% center; /* ← Mueve la imagen hacia la derecha */
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #ffffff72;
    padding: 30px;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #000000;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    color: #040404;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #4b6cb7;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4b6cb7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3958a6;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
    color: #ff0000;
}

.register-link a {
    color: #4b6cb7;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}